.flex-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 
 .flex-item {
    padding: 5px;
 }
 /* .flex-item:last-child {
    order: -1;
 } */
 .flex-item:nth-child(1) {
    flex-grow: 1;
 }
 
 .flex-item:nth-child(2) {
    flex-grow: 2;
 }
 
 .flex-item:nth-child(3) {
    flex-grow: 3;
 }